n8nworkflow/n8nWorkflow.json
{
  "name": "Salesforce Query, Curl,  Webhook Aura-agent Test Aura agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sfinterface",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2c624b6d-d98c-45ad-b32b-3918fecf3d76",
      "name": "Salesforce Query Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        784,
        176
      ],
      "webhookId": "d4aa4da5-3255-4115-9cdc-57dbbd014682"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.output } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "29404524-b987-46bc-b2c8-157e187d463a",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1408,
        176
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nInvoke Aura-agent and Mongo-agent as a JSON format:\n\n{\"question\": \"{{ $json.body.question }}\"}\n\n\n",
        "options": {
          "systemMessage": "You are a helpful assistant, summarize output from both. Seperating them\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        992,
        176
      ],
      "id": "312f181d-898f-4735-bdd6-10bde4ca8fe2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        864,
        384
      ],
      "id": "1a63e754-e2b1-4557-b137-b05160103047",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "X9DVeK5sbi47z8MM",
          "name": "OpenAi account paid"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.neo4j.io/v2beta1/projects/7c6ad486-0253-4da3-963a-7912628df0fe/agents/b9c8b06a-1311-4511-96b5-ecf06d5ce784/invoke",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"input\": \"{{$fromAI(\"question\")}}\"}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1312,
        432
      ],
      "id": "22c919a4-5c12-453e-8ff4-fddfa06fcd90",
      "name": "Aura-agent",
      "credentials": {
        "oAuth2Api": {
          "id": "BPLOR9Jc5Lbm3mIh",
          "name": "Aura agent credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with data in atlas",
        "mongoCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "vectorIndexName": "vector_index1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        1504,
        400
      ],
      "id": "aeca0c22-18f2-4777-acdf-828ae1914657",
      "name": "mongo_query",
      "credentials": {
        "mongoDb": {
          "id": "Irpr13GasDcDRKlA",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1600,
        608
      ],
      "id": "b08f377b-9d67-4640-89e2-d0cdfb5f6789",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "X9DVeK5sbi47z8MM",
          "name": "OpenAi account paid"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Salesforce Query Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aura-agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "mongo_query": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "mongo_query",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "18f7d332-c9b2-4782-a32b-e90d72b7b48b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ca0dab71b1267f19455741c149af5785e266282acb15a78dd79f853a91f3be2"
  },
  "id": "bFzoExRQF0UbbXGS",
  "tags": []
}